.container {
    text-align: center;
    vertical-align: center;


}

.calculator {

    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border: solid 2px black;
    width: 330px;
    height: 200px;
    padding-top: 71px;
    padding-bottom: 162px;
}

.window{
    height: 30px;
    margin-bottom: 20px;
}

.btn {
    width: 55px;
    height: 30px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

